// 복사해서 ios/Flutter/Secrets.xcconfig로 저장한다 (커밋 금지).
// Dart 쪽 값은 config/dev.json(--dart-define-from-file)에 같은 키를 넣는다.
KAKAO_NATIVE_APP_KEY = 카카오_네이티브_앱_키
// Google iOS 클라이언트 ID를 뒤집은 값: com.googleusercontent.apps.XXXX
GOOGLE_IOS_REVERSED_CLIENT_ID = com.googleusercontent.apps.XXXX
